<ul class="collapsible" data-collapsible="accordion">
  <li *ngFor="let applyForm of applyForms">
    <div class="collapsible-header">
      <span class="new badge"></span>
      <i class="material-icons">filter_drama</i>
      For Event : {{ applyForm["event"] }}
    </div>
    <div class="collapsible-body">
      <ul>
        <li>Method : {{ applyForm["method"] }}</li>
        <li>Name : {{ applyForm["name"] }}</li>
        <li>Reason : {{ applyForm["reason"] }}</li>
        <li>Reply : {{ applyForm["reply"] }}</li>
        <li>Touch : {{ applyForm["touch"] }}</li>
      </ul>
    </div>
  </li>
</ul>
