.wrapper{
  display: flex;
}
.manage-source {
  background-color: #00BFA5;
  width: 300px;
  height: 300px;
  color: white;
  font-size: 50px;
  font-weight: 700;
  position: relative;
}

.manage-items {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 150px;
  > div {
    width: 400px;
    display: flex;
    align-items: center;
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 10px 50px 50px;
      border-color: transparent transparent transparent #00BFA5;
      position: relative;
    }
    div {
      background-color: #CEF6F5;
      width: 300px;
      height: 100px;
      position: relative;
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 38px;
        border-color: #A9F5D0 #A9F5D0 transparent transparent;
        transform: rotate(45deg);
        position: absolute;
        left: -40px;
      }
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 35.3px;
        border-color: #CEF6F5 #CEF6F5 transparent transparent;
        transform: rotate(45deg);
        position: absolute;
        right: -35.3px;
      }
      a {
        left: 20px;
      }
    }
  }
}

@media screen and (max-width: 650px){
  .wrapper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .manage-source {
    background-color: #00BFA5;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    text-align: top;
    top: 150px;
    border-radius: 5%;
  }

  .manage-items {
    width: 250px;
    height: 250px;
    background-color: #00BFA5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 60px;
    box-sizing: border-box;
    position: absolute;
    border-radius: 5%;
    padding: 30px;
    right: auto;
    left: auto;
    top: 40vh;
    > div {
      width: 400px;
      display: flex;
      align-items: center;
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: none;
      }
      div {
        background-color: #CEF6F5;
        width: 200px;
        height: 75px;
        position: relative;
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-style: none;
        }
        &:after {
          content: '';
          width: 0;
          height: 0;
          border-style: none;
        }
      }
    }
  }
}