<nav class="teal accent-4">
  <div class="nav-wrapper">
    <a data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <a [routerLink]="''" class="brand-logo center-wrapper"><i class="book-icon"></i>Library</a>
    <ul class="hide-on-med-and-down right">
      <li><a [routerLink]="''">首頁</a></li>
      <li><a *ngIf="cookie.getCookie('type') == 'Admin'" [routerLink]="'admin'">管理</a></li>
      <li><a *ngIf="!cookie.getCookie('type')" [routerLink]="'login'">{{'login' | translate}}</a></li>
      <li><a *ngIf="cookie.getCookie('type')" (click)="userLogout()">{{'logout' | translate}}</a></li>
      <li>
        <div class="switch">
          <label>
            {{nowLanguage}}
            <input type="checkbox" (click)="changeLanguage()" value="on">
            <span class="lever"></span>
            {{otherLanguage}}
          </label>
        </div>
      </li>
    </ul>
    <ul class="side-nav" id="mobile">
      <li><a [routerLink]="''">首頁</a></li>
      <li><a *ngIf="cookie.getCookie('type') == 'Admin'" [routerLink]="'admin'">管理</a></li>
      <li><a *ngIf="!cookie.getCookie('type')" [routerLink]="'login'">{{'login' | translate}}</a></li>
      <li><a *ngIf="cookie.getCookie('type')" (click)="userLogout()">{{'logout' | translate}}</a></li>
      <li>
        <div class="switch">
          <label>
            {{nowLanguage}}
            <input type="checkbox" (click)="changeLanguage()" value="on">
            <span class="lever"></span>
            {{otherLanguage}}
          </label>
        </div>
      </li>
    </ul>
  </div>
</nav>
