<nav class="teal accent-4">
  <div class="nav-wrapper">
    <a [routerLink]="''" class="brand-logo center-wrapper "><i class="book-icon"></i>Library</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a [routerLink]="''">首頁</a></li>
      <li><a *ngIf="true" [routerLink]="'admin'">管理</a></li>
      <li><a *ngIf="auth.isLoggedIn == false" [routerLink]="'login'">登入</a></li>
      <template [ngIf]="auth.isLoggedIn == true">
        <li><a [routerLink]="''"> {{ auth.username }} </a></li>
        <li><a (click)="auth.logout()">登出</a></li>
      </template>
    </ul>
  </div>
</nav>
